body, html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

#root {
    height: 100%
}

.App {
    font-family: Helvetica, Arial, sans-serif
}

.Swiper, .Swiper div {
    height: 100%;
}

.Swiper {
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.Slider {
    overflow: hidden;
    position: relative;
}

.Card {
    background-color: #729fcf;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px 0 0 20px;
    padding: 0;
    float: left;
    position: relative;
    top: 0;
}

h2 {
    color: #000;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 5px 10px
}

.subtitle {
    color: #2e3436;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: 24px;
    padding-left: 10px
}

.temperature {
    color: #fff;
    font-size: 96px;
    padding: 30px;
    text-align: center
}

.Graph, .temperature {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.Graph {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media (max-width:850px) {

    .Card {
        margin: 0;
        height: 100%;
    }

}
